.custombtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-width: 8vw;
  min-height: 6vh;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  margin: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  letter-spacing: 1px;
}

.btn10 {
  background: rgb(22, 9, 240);
  background: linear-gradient(0deg, rgba(22, 9, 240, 1) 0%, rgba(49, 110, 244, 1) 100%);
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}

.btn10:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(.1);
  transform: scale(.1);
}

.btn10:hover {
  color: #fff;
  border: none;
  background: transparent;
}

.btn10:hover:after {
  background: rgb(0, 3, 255);
  background: linear-gradient(0deg, rgba(2, 126, 251, 1) 0%, rgba(0, 3, 255, 1)100%);
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 800px) {
  .custombtn {
    min-width: 10vw;
  }
}

@media (max-width: 600px) {
  .custombtn {
    font-weight: 800;
    padding: 4%;
  }
}

@media (max-width: 400px) {
  .custombtn {
    font-weight: 600;
    padding: 2%;
    font-size: 4vw;
    height: auto;
  }
}